<%- include('partials/header') %>
    <main>

        <h1>
            <%= title %>
        </h1>

        <% categories.forEach(category=> { %>
            <h2>
                <a href="/category/<%= category.category_id %>">
                    <%= category.category_name %>
                </a>
            </h2>
            <% }) %>

    </main>


    <%- include('partials/footer') %>