<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>
            <%= project.service_project_title %>
        </h2>

        <p>Description: <%= project.service_project_description %>
        </p>

        <p>Date: <%= new Date(project.service_project_date).toLocaleDateString('en-US', { year: 'numeric' ,
                month: 'long' , day: 'numeric' }) %>
        </p>

        <p>Location: <%= project.service_project_location %>
        </p>

        <p>Organization: <a href="/organization/<%= project.organization_id %>">
                <%= project.organization_name %>
            </a>
        </p>

        <p>Categories:
            <% categories.forEach(category=> { %>
                <a href="/category/<%= category.category_id %>">
                    <%= category.category_name %>
                </a>
                <% }) %>
        </p>
        <p><a href="/assign-categories/<%= project.service_project_id %>">Assign Categories</a></p>
    </main>
    <%- include('partials/footer') %>